
    :root {
        --teal: #4aaaa5;
        --main_content_background: #ececec;
        --light-gray: #dddddd;
        --general_font_color: #777777;
    }

    body {
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        color: var(--general_font_color);
    }

    .highlight {
        color: var(--teal);
    }

    /*-----------HEADER-----------*/

    #name {
        float: left;
        background: var(--teal);
        padding: 15px 25px;
    }

    #name h3 {
        color: white;
        margin-bottom: 0;
    }

    header {
        padding-top: 0;
    }

    .navbar {
        width: 250px;
        float: right;
        padding-top: 20px;
    }

    .navbar a {
        text-decoration: none;
        color: var(--general_font_color);
        text-align: center;
    }

    .navbar a:hover {
        color: var(--teal);
    }

    #current {
        color: var(--teal);
    }

    .clearFloat {
        clear: left;
    }

    /*------------ABOUT ME-----------*/

    #main-background {
        background: var(--main_content_background);
        height: 1000px;
        padding-top: 30px;
        border-top: 1px solid var(--light-gray);
    }

    #sub-background {
        background-color: white;
        padding: 25px;
    }

    #sub-background img {
        width: 190px;
        height: 190px;
        object-fit: cover;
        float: left;
        margin-right: 22px;
        margin-bottom: 5px;
    }

    /*------------PORTFOLIO-----------*/

    .flex-container {
        display: flex;
        justify-content: center;
      }

    /*------------FOOTER-----------*/

    footer {
        background-color: gray;
        text-align: center;
        height: 40px;
        border-top: 5px solid var(--teal);
    }

    footer p {
        padding-top: 10px;
        color: white;
        margin-bottom: 0;
    }


    /*------------Contacts-----------*/

    .btn-primary {
        color: #fff;
        background-color: var(--teal);
        border-color: white;
    }

    .btn-primary:hover {
        color: #fff;
        background-color: turquoise;
        border-color: white;
    }


    
    
    @media (min-width: 992px) and (max-width: 1200px) {
        #main-background {     
            height: 800px;
        }     

        #sub-background img {
            width: 250px;
            height: 250px;
            padding: 20px 0px;
        }
    }



    @media (min-width: 1201px){
        #main-background {     
            height: 800px;
        }     

        #sub-background img {
            width: 300px;
            height: 250px;
            padding: 20px 0px;
        }
    }

    

    /*------------Responsive 980px-----------*/
    @media (min-width: 768px) and (max-width: 991.98px) { 
            
            .container {
            max-width: 900px;
            margin: 0px 30px;
            padding-right: 35px;
            }
    
            #sub-background{
            width: 600px;
            }
    
            .navbar{
                width: 230px;
                padding-right: 30px;
            }

            #main-background {     
                height: 700px;
            }

            .col-sm {
                width: 150px;
                max-width: 150px;
            }

            #sub-background img {
                width: 150px;
                height: 150px;
            }
     }

     /*------------Responsive 768px-----------*/
     @media (min-width: 640px) and (max-width: 767.98px) { 
        
            .container {
            max-width: 700px;
            margin: 0px 10px;
            padding-right: 35px;
            }

            #sub-background{
            width: 100%;
            }
        
            .navbar{
            width: 230px;
            padding-right: 30px;
            }

            #main-background {     
                height: 900px;
            }

            #sub-background img {
                width: 170px;
                height: 170px;
            }
        }


        
      /*------------Responsive 640px-----------*/
    @media (max-width: 639.98px) {
            .container {
            max-width: 100%;
            margin: 0px 10px;
            padding-right: 35px;
            }


            #sub-background img {
                width: 100%;
                height: 525px;
                object-fit: cover;
                display: block;
                margin-right: 0;
                margin-bottom: 20px;
            }

            #name {
                display: block;
                background: var(--teal);
                padding: 15px 25px;
                width: 100%;
                text-align: center;
            }

            #name h3 {
                color: white;
                margin-bottom: 0;
                font-size: 50px;
            }
        
            header {
                padding-top: 0;
            }
        
            .navbar {
                width: 100%;
                float: left;
                padding-top: 20px;
                padding-right: 30px;
                padding-right: 80px;
                padding-left: 80px;
            }
            
            .navbar a {
                text-decoration: none;
                color: var(--general_font_color);
                text-align: center;
                font-size:25px;
            }

            #main-background {     
                height: 1600px;
            }

            #sub-background p{
                font-size: 20px;
            }

            #sub-background .row img {
                width: 100%;
                height: 200px;
                max-width: 400px;
            }
            
    }